// TEXT
// ----

.text-m-purple {
    color: $color-purple;
    font-size: 16px;
    font-weight: 600;
}

.text-m-green {
    color: $color-green;
    font-size: 16px;
    font-weight: 600;
}

.text-m-white {
    color: $color-white;
    font-size: 16px;
    font-weight: 600;
}

.text-s-white {
    color: $color-white;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 992px) {
    .text-m-purple, .text-m-green {
        font-size: calc(4vw);
    }
}

.text-l-black {
    font-size: 24px;
    font-weight: 700;
    color: $color-black;
}

.text-l-white {
    font-size: 24px;
    font-weight: 700;
    color: $color-white;
}