// Footer
// -----

footer {
    .footer-container {
        background-color: $color-purple;
        .footer {
            .top-footer {
                display: flex;
                justify-content: space-between;
                .top-footer_column {
                    .top-footer-column_title {
                        text-transform: uppercase;
                        margin-bottom: 32px;
                    }
                    span {
                        display: flex;
                        gap: 18px;
                        margin-bottom: 12px;
                    }

                    #menu-footer {
                        .menu-item {
                            color: white;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }

                .top-footer_column {
                    .social-media {
                        display: flex;
                        gap: 18px;
                    }
                }
            }
        }
    }
}