// HEADER STYLES
// -------------

#masthead {
    margin: 0;
    border: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}

.top-header {
    padding: 18px 0;
    background-color: $color-gold;
    .top-header_container {
        justify-content: space-between;
        div {
            display: flex;
            align-items: center;
            p {
                color: $color-white;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 500;
                word-spacing: 1px;
                letter-spacing: 0.5px;
            }
        }
    }
}

nav.navbar {
    padding: 32px 0 64px;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
    .nav.navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 80%;

        li {
            a {
                color: $color-black;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 14px;
                span {
                    color: inherit;
                    font-weight: 700;
                }
            }

            a:hover {
                color: $color-purple;
                transition: 1s;
            }
        }

        li:after {
            display:block;
            content: '';
            border-bottom: solid 3px $color-purple;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
        }

        li:hover:after { transform: scaleX(1); }

        li.fromRight:after{ transform-origin:100% 50%; }

        li.fromLeft:after{  transform-origin:  0% 50%; }
    }
}