header.entry-header {
    background-color: #720d1f !important;
    padding-top: 64px;
    padding-bottom: 64px;
    h1.entry-title {
        font-size: 24px;
        font-weight: 700;
        color: #db802f;
        text-align: initial;
        max-width: 1200px;
        margin: 0 auto;
    }
}