// CONTAINERS
// ----------

.full-container {
    width: 100%;
    height: fit-content;
}

.content-container-m {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content-container-l {
    width: 100%;
    max-width: 1440 px;
    margin: 0 auto;
}